VITE_SUPABASE_URL=https://takmxngcjxaoufiwlzqi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRha214bmdjanhhb3VmaXdsenFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyMjQ1MDMsImV4cCI6MjA5ODgwMDUwM30.-lEjB90_t-yfgcDAym9LhtqWOnBCLfTjAoRTppuwOXc
